<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_field :icon, class: 'icon-input'  %>
    <span class="select-icon">Select an Icon</span>
  </div>

  <div>
  <%= form.hidden_field :user_id, value: current_user.id  %>
  </div>
 

  <div>
    <%= form.submit "Create Group"%>
  </div>
<% end %>


<div class="icon-picker hidden"> 
  <h1>Pick an Icon</h1>
  <span class="close-icon-picker-btn">Close</span>
  <ul class="icons-list">
    <li class="icon"><i class="fa-solid fa-utensils"></i></li>
    <li class="icon"><i class="fa-solid fa-cart-shopping-fast"></i></li>
    <li class="icon"><i class="fa-solid fa-house"></i></li>
    <li class="icon"><i class="fa-solid fa-phone"></i></li>
  </ul>
</div>