<section class="groups-section">
<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

  <ul class="groups-lis">
  <% @groups.each do |group| %>
    <li class="group-item">
      <span><i class="<%= group.icon %>"></i></span>
      <p> <%= group.name %> </p>
      <p> <%= group.total_amount %> </p>
      <p>
        <%= link_to "Show this group", group_path(group.id) %>
      </p>
    </li>
  <% end %>
  </ul>


<%= link_to "New group", new_group_path %>

</section>