<section class="groups-section">

<header class="header">
  <h2>Categories</h2>
</header>

<p style="color: green"><%= notice %></p>




  <ul class="groups-lis">
  <% @groups.each do |group| %>
    <li class="group-item">
      <span><i class="<%= group.icon %> fa-3x"></i></span>
      <p> <%= group.name %> </p>
      <p> $<%= group.total_amount %></p>
      <p>
        <%= link_to "Show", group_path(group.id), class: "show-button" %>
      </p>
    </li>
  <% end %>
  </ul>

<%= link_to "New Category", new_group_path, class: "new-group" %>

</section>