<section class="expenses-section">

<header class="header">
<%= link_to "BACK", groups_path %>
  <h2><%= @group.name %></h2>
  <span class="total-amount-header"> $<%= @group.total_amount %></span>
</header>

<p style="color: green"><%= notice %></p>


<div>
  <ul class="transactions-list">
    <% @entities.each do  |entity| %>
      <li class="transaction-item">
        <span> <%= entity.name %> </span>
        <span> <%= entity.amount %> $ </span>
        <span> <%= entity.created_at.strftime("%d %b %y") %> </span>
      </li>
    <% end %>
  </ul>
</div>

<%= button_to "Add Transaction", new_entity_path, method: :get, class: "new-entity", params: {current_group: @group.id} %>


</section>